<h1>Conversion results</h1>

<section id="show" class="content">

  <p>
    <span class="label">Bibid:</span>
    <%= @converter.bibid %>
  </p>
  
  <p><%= link_to 'Convert again', converters_path %></p>
    
  <section id="result">
    <section class="output" id="marcxml-output">
      <p><%= label_tag 'marcxml', 'marcxml:' %></p>     
      <p><%= text_area_tag 'marcxml', @converter.marcxml, readonly: true %></p>
    </section>
    
    <section class="output" id="bibframe-output">
      <p><%= label_tag 'bibframe', 'bibframe:' %></p>
      <p><%= text_area_tag 'bibframe', @converter.bibframe, readonly: true %></p>
    </section>    
  </section>
 
</section>

