<%= form_for @record, method: :get, url: convert_records_path do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prevented this record from being converted:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bibid, 'Enter Cornell bib ID:' %><br>
    <%= f.text_field :bibid %>
  </div>
  <div class="actions">
    <%= f.submit "Convert" %>
  </div>
<% end %>
