<%= form_for @record, method: :get, url: convert_records_path do |f| %>
  <% if @record.errors.any? %>
    <section id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prevented this record from being converted:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </section>
  <% end %>

  <section class="field">
    <%= f.label :bibid, 'bib id:' %>
    <%= f.text_field :bibid %>
  </section>
  <section class="actions">
    <%= f.submit "convert", id: :submit %>
  </section>
  
<% end %>
