<h1>Conversion results</h1>

<section id="show" class="content">
  
  <section id="bibid">
    <span class="label">Bibid:</span>
    <%= @record.bibid %>
  </section>
  
  <section id="result">
    <section class="output" id="marcxml-output">
      <p><%= label_tag 'marcxml', 'marcxml' %></p>     
      <p><%= text_area_tag 'marcxml', @record.marcxml, readonly: true %></p>
    </section>
    
    <section class="output" id="bibframe-output">
      <p><%= label_tag 'bibframe', 'bibframe' %></p>
      <p><%= text_area_tag 'bibframe', @record.bibframe, readonly: true %></p>
    </section>    
  </section>
  
  <%= link_to 'Convert another record', records_path %>
  
</section>

